name: Dependabot auto-merge

on:
  pull_request:

jobs:
  enable-automerge:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: peter-evans/enable-pull-request-auto-merge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
